body{
margin: 0px;
background-color: darkgrey;
}
form{
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 550px;
    background-color: white;
    border-radius: 2%;
    overflow: auto;
}
.name{
    text-align: center;
    margin-top: 100px;
    font-size: 2rem;
    color: rgb(22, 21, 21);
}
.reg{
    text-align: center;
    color: darkgrey;
    margin-top: 70px;
}
.reg a{
    text-decoration: none;
    color: black;
}
input{
    width: 70%;
    height: 45px;
    margin-top: 30px;
    margin-inline-start: 15%;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid darkgray;
    border-right: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: darkgray;
    outline: none;
}
input:hover{
    border-bottom: 2px solid darkgray;
}
button{
    width: 70%;
    height: 45px;
    border-radius: 25px 25px;
    border: none;
    margin-inline-start: 15%;
    margin-top: 50px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: white;
    background: linear-gradient(to right, #2ec4fd, #af2bff)
}